<!DOCTYPE html>
<html>
  <head>
    <title>Customer Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to 'Client Admin App', root_path, class: 'navbar-brand ms-4' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex justify-between" style="width: 75%;">
    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
      <li><%= link_to 'Manage Clients', clients_path, class: "btn btn-md btn-secondary me-3"%></li>
      <li><%= link_to 'Manage Cities', cities_path, class: "btn btn-md btn-secondary"%></li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <%# <li><%= link_to 'Logout', logout_path, method: :delete, class: "btn btn-md btn-primary ms-3 me-5" %><%#</li> %>
    </ul>
  </div>
  </nav>
  <div class="row d-flex justify-center align-items-center" style="height: 100vh;">

    <div class="col-sm-4 mx-auto" >
      <%= yield %>
    </div>
    
  </div>
    
  </body>
</html>
